*{
    margin: 10px auto;
    padding: 0;
    box-sizing: border-box; 
    /* não deixa o elemento sair do lugar, ele fixa o tamanho da caixa */
}

body{
    background-image: url(img/jojo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
@keyframes cor{
    25%{background-color: rgba(60, 23, 94, 0.9);}
    60%{background-color: rgba(44, 90, 75, 0.9);}
    90%{background-color: rgba(128, 27, 27, 0.9);}
}
h1{
    color: rgb(255, 239, 9);
    font-family: playwrite NO, cursive;
}
h2{
    color: rgb(255, 145, 0);
}
h3{
    color: rgb(255, 145, 0);
}
p{
    font-weight: bolder;
}
.a{
animation: mov 5s infinite;
}

.main{
    width: 60%;
    padding: 20px;
    background-color: rgba(77, 77, 77, 0.9);
    position: relative;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgb(66, 66, 66);
    animation: cor 5s infinite;
    border: 3px solid #000000;
}

img{
    border-radius: 20px;
    width:100%;
    height: auto;
}